.body
{
    background-color: aqua;
    text-decoration-color:darkblue;
    
}
#Headinggallery
{
    font-size:200px 
}
#mustang
{
    resize: 200px;
    image-orientation:center;
}














#mustang
{
im
}